<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn rounded color="primary" dark v-bind="attrs" v-on="on">
          Editar
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Edição de agendamento</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="data.status"
                  hint="Status"
                  :items="sts.map((item) => item.text)"
                  label="Status"
                  persistent-hint
                  return-object
                  single-line
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  v-model="data.obs"
                  label="Observações"
                  counter
                  maxlength="500"
                  full-width
                  single-line
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>*Campos obrigatórios</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Fechar
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="
              editar();
              $emit('emitAlert');
            "
          >
            Salvar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { VueMaskDirective } from "v-mask";
Vue.directive("mask", VueMaskDirective);
export default {
  name: "ModelUpdate",
  props: ["data"],
  emits: ["emitAlert"],
  data() {
    return {
      dialog: false,
      sts: [
        { cod: 1, text: "Inclusão Liberado - DS OK" },
        { cod: 2, text: "Recusar - Termo não Assinado" },
        { cod: 3, text: "Cadastro Ok - Pendente pre-existência" },
        { cod: 4, text: "Pendente Análise de DS" },
        { cod: 5, text: "Finalizado" },
      ].map((key) => ({ text: key.text, value: key.cod })),
    };
  },
  methods: {
    async editar() {
      var statusResult = this.sts.filter(
        (key) => key.text == this.data.status
      )[0].value;

      const payload = {
        sts: statusResult,
        obs: this.data.obs,
        cd_solicitacao: this.data.cd_solicitacao,
      };

      axios
        .put("declaracaoSaude/update", payload, {
          headers: {
            Authorization: `Bearer ${window.localStorage.getItem("token")}`,
          },
        })
        .then((response) => {
          this.dialog = false;
        })
        .catch((error) => {
          console.log(error);
        });

      const payloadInsert = {
        username: window.localStorage.getItem("username"),
        cd_solicitacao: this.data.cd_solicitacao,
        sts: statusResult,
      };

      axios
        .post("declaracaoSaude/insertLog", payloadInsert, {
          headers: {
            Authorization: `Bearer ${window.localStorage.getItem("token")}`,
          },
        })
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>