<template>
  <div>
    
      <div class="col-12 mx-auto" style="padding-top: 4%; padding-bottom: 10%">
        <center><h2 class="card-title">Declarações de Saúde</h2></center>
        <br />
        <v-toolbar flat color="transparent">
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            id="search_bar"
            @keyup="searchItems()"
            single-line
          ></v-text-field>

          <v-btn
            style="top: -22%"
            color="primary"
            icon=""
            dark
            @click="
              getItems();
              updated_success();
            "
          >
            <v-icon dark>mdi-refresh</v-icon>
          </v-btn>
        </v-toolbar>

        <v-data-table :headers="headers" :items="items" :items-per-page="5">
          <template v-slot:[`item.status`]="{ item }">
            <v-chip :color="getColor(item.status)" dark>
              {{ item.status }}
            </v-chip>
          </template>

          <template v-slot:[`item.editar`]="{ item }">
            <model-update
              :values="item"
              :alert="alert"
              :data="item"
              @emitAlert="showAlert"
            />
          </template>
        </v-data-table>
        <div>
          <v-alert
            :value="delete_alert"
            dark
            :type="delete_alert_status"
            border="top"
            transition="scale-transition"
          >
            {{ delete_alert_mensage }}
          </v-alert>
        </div>

        <div>
          <v-alert
            :value="alert"
            dark
            type="success"
            border="top"
            transition="scale-transition"
          >
            {{ mensagem }}
          </v-alert>
        </div>
      </div>
    
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import App from "../App.vue";
import ModelUpdate from "./ModelUpdate.vue";
import router from "../router/index";

export default Vue.extend({
  name: "Agendamentos",
  components: {
    App,
    ModelUpdate,
  },
  data() {
    return {
      search: "",
      nome: "",
      dialog: false,
      role: window.localStorage.getItem("role"),
      alert: false,
      delete_alert: false,
      delete_alert_status: undefined,
      delete_alert_mensage: undefined,
      mensagem: "Alteração realizada com sucesso!",
      headers: [
        {
          text: "Código Solicitação",
          value: "cd_solicitacao",
          align: "center",
          sortable: true,
        },
        {
          text: "Código da Empresa",
          value: "cd_empresa",
          align: "center",
          sortable: true,
        },
        {
          text: "Nome da Empresa",
          value: "nm_empresa",
          align: "center",
          sortable: true,
        },
        {
          text: "Data de Criação",
          value: "dt_criacao",
          align: "center",
          sortable: true,
        },
        {
          text: "Data ultima alteração",
          value: "dt_ultima_alteracao",
          align: "center",
          sortable: true,
        },
        {
          text: "Status Interno",
          value: "status",
          align: "center",
          sortable: true,
        },
        {
          text: "Editar",
          value: "editar",
          align: "center",
          sortable: false,
        },
      ],
      items: [],
      extention: "",
      search: "",
      fileName: "",
      userCid: "",
      array_data: [],
      sts: [
        { cod: 1, text: "Inclusão Liberado - DS OK" },
        { cod: 2, text: "Recusar - Termo não Assinado" },
        { cod: 3, text: "Cadastro Ok - Pendente pre-existência" },
        { cod: 4, text: "Pendente Análise de DS" },
        { cod: 5, text: "Finalizado" },
      ],
    };
  },
  methods: {
    getColor(status) {
      let color = "";
      switch (status) {
        case "Nenhum status registrado":
          color = "red";
          break;
        case "Inclusão Liberado - DS OK":
          color = "green";
          break;
        case "Recusar - Termo não Assinado":
          color = "#555";
          break;
        case "Cadastro Ok - Pendente pre-existência":
          color = "primary";
          break;
        case "Pendente Análise de DS":
          color = "warning";
          break;
        case "Finalizado":
          color = "pink";
          break;
      }
      return color;
    },
    showAlert() {
      this.alert = true;
      setTimeout(() => {
        this.alert = false;
      }, 3000);
    },
    searchItems() {
      let x = [];
      const searchBar = document.getElementById("search_bar");
      if (searchBar.value.length > 0) {
        for (let i = 0; i < this.items.length; i++) {
          if (
            this.items[i].cd_solicitacao
              .toString()
              .includes(searchBar.value.toString()) ||
            this.items[i].nm_empresa
              .toString()
              .includes(searchBar.value.toString()) ||
            this.items[i].cd_empresa
              .toString()
              .includes(searchBar.value.toString())
          ) {
            x.push(this.items[i]);
          }
        }
        this.items = x;
      } else {
        this.getItems();
      }
    },
    formatHorario(hrr) {
      let phrr = hrr.split(" ");
      let data = phrr[0].split("-").reverse().join("/");
      let hora = phrr[1].substr(0, 5);
      let fhrr = data + " " + hora;
      return fhrr;
    },
    updated_success() {
      this.delete_alert_status = "success";
      this.delete_alert_mensage = "Informações atualizadas com sucesso!";
      this.delete_alert = true;
      setTimeout(() => {
        this.delete_alert = false;
      }, 3000);
    },
    logout() {
      window.localStorage.removeItem("token");
      window.localStorage.removeItem("username");
      router.go("Home");
    },
    async getItems() {
      this.items = [];
      axios
        .get("declaracaoSaude/list", {
          headers: {
            Authorization: `Bearer ${window.localStorage.getItem("token")}`,
          },
        })
        .then((respose) => {
          this.array_data = respose.data;
          for (let i = 0; i < this.array_data.length; i++) {
            var dt_criacao = this.array_data[i][1].split("-");
            var dt_dia = dt_criacao[2].split("T");
            dt_criacao =
              dt_dia[0] +
              "/" +
              dt_criacao[1] +
              "/" +
              dt_criacao[0] +
              " " +
              dt_dia[1].split(".")[0];

            var dt_alt = this.array_data[i][2].split("-");
            dt_dia = dt_alt[2].split("T");
            dt_alt =
              dt_dia[0] +
              "/" +
              dt_alt[1] +
              "/" +
              dt_alt[0] +
              " " +
              dt_dia[1].split(".")[0];

            if (this.array_data[i][3] == null) {
              var status = "Nenhum status registrado";
            } else {
              var status = this.sts.filter(
                (item) => item.cod == this.array_data[i][3]
              )[0].text;
            }
            this.items.push({
              cd_solicitacao: this.array_data[i][0],
              dt_criacao: dt_criacao,
              dt_ultima_alteracao: dt_alt,
              status: status,
              cd_empresa: this.array_data[i][4],
              nm_empresa: this.array_data[i][5],
              obs: this.array_data[i][6]
            });
          }
        });
    },
  },
  async beforeMount() {
    this.getItems();
  },
});
</script>

<style>
.home {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
.container {
  padding: 20px 20px 20px 20px;
}
.background-grey {
  background-color: #f5f5f5;
}
</style>
