<template>
  <v-app id="inspire">
    <Login v-if="!token" />
    <div v-if="token">
      <v-navigation-drawer v-model="drawer" app>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              <img
                src="https://www.planosantacasasaude.com/img/santa-casa-saude-logo.png"
                width="100%"
              />
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list dense nav>
          <v-list-item
            v-for="item in items"
            :key="item.title"
            :to="item.to"
            link
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

      <v-app-bar app style="color: white; background-color: #0075be">
        <v-app-bar-nav-icon
          @click="drawer = !drawer"
          style="color: white"
        ></v-app-bar-nav-icon>
        <v-spacer></v-spacer>
        Olá, {{ fullname }}
        &nbsp;&nbsp;&nbsp;
        <v-btn color="primary" @click="logout">Sair</v-btn>
      </v-app-bar>

      <v-main>
        <router-view></router-view>
        <Footer />
      </v-main>
    </div>
  </v-app>
</template>

<script>
import Login from "./components/Login.vue";
import router from "./router";
import axios from "axios";
import Footer from "./components/Footer.vue";

export default {
  name: "App",
  data: () => ({
    token: window.localStorage.getItem("token"),
    username: window.localStorage.getItem("username"),
    role: window.localStorage.getItem("role"),
    users: [
      "GAAFBARBOSA",
      "TRCAMARGO",
      "MVVSOUZA",
      "MEFSILVA",
      "ACCASTRO",
      "SCMARTINS",
      "COBARRINHA",
      "RRCINTRA",
      "ICMGONCALVES",
      "LFNASCIMENTO"
    ],
    fullname: "",
    drawer: null,
    unidade: "",
    cidade_sistema: [],
    items: [
      {
        title: "Declarações de Saúde",
        icon: "mdi-book-open-outline",
        to: "/agendamentos",
      },
    ],
  }),
  components: {
    Login,
    Footer,
  },
  methods: {
    logout() {
      window.localStorage.removeItem("token");
      window.localStorage.removeItem("username");
      window.localStorage.removeItem("unidade");
      router.go("Home");
    },
    invalidToken() {
      if (this.token == null) {
        this.logout();
      }
    },
  },
  beforeMount() {
    axios
      .get(`/colaborador/teste/${this.username}`, {
        headers: {
          Authorization: `Bearer ${window.localStorage.getItem("token")}`,
        },
      })
      .then((response) => {
        this.unidade = response.data.physicalDeliveryOfficeName;
        this.fullname = response.data.name.split(" ")[0];
        // const user = response.data.memberOf.filter(item => item == 'CN=GG_AGENDA_USER,OU=GRUPOS,OU=_SERVICOS,OU=ASSOCIACAO,DC=ascs,DC=intra')
        // const adm = response.data.memberOf.filter(item => item == 'CN=GG_AGENDA_ADM,OU=GRUPOS,OU=_SERVICOS,OU=ASSOCIACAO,DC=ascs,DC=intra')
        // if (user.length == 1 && adm.length == 0){
        //   localStorage.setItem('role', 'USER')
        // }else if (user.length == 0 && adm.length == 1){
        //   localStorage.setItem('role', 'ADM')
        // } else {
        //   alert('Você não tem permissão para acessar esta página!')
        //   this.logout()
        // }
      })
      .catch((error) => {
        this.token = null;
      });

    if (
      this.users.filter(
        (item) =>
          item.toString().toLowerCase() ==
          this.username.toString().toLowerCase()
      ).length == 0
    ) {
      alert("Você não tem permissão para acessar esta página!");
      this.logout();
    }
  },
};
</script>

<style>
.v-data-table-header th {
  vertical-align: center;
  white-space: nowrap;
}
</style>